@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hero-gradient-start: #26c2b9;
  --hero-gradient-end: #288be7;
  --brand-color: #4a77ff;
  --brand-cyan-100: #40e2e8;
  --brand-gray-100: #c1c5cf;
  --brand-gray-200: #5e626f;
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 26px !important;
}

body {
  background: white;
  font-family: var(--font-poppins);
}
.swiper-button-prev {
  position: absolute;
  left: 0 !important;
}

.swiper-button-next {
  position: absolute;
  right: 0 !important;
}
